/node_modules/*
.bak
tests/js/src
tests/src
lib/utils/events/timelineBaseEvent.js
lib/utils/events/timelineClickEvent.js
lib/utils/events/timelineDragEvent.js
lib/utils/events/timelineScrollEvent.js
lib/utils/events/timelineSelectedEvent.js
lib/utils/events/timelineTimeChangedEvent.js
lib/utils/timelineUtils.js
lib/utils/timelineStyleUtils.js
lib/utils/timelineSelectionResults.js
lib/utils/timelineModelCalcResults.js
lib/utils/timelineElement.js
lib/utils/timelineDraggableData.js
lib/utils/selectable.js
lib/utils/cutBoundsRect.js
lib/enums/timelineSelectionMode.js
lib/enums/timelineKeyframeShape.js
lib/enums/timelineInteractionMode.js
lib/enums/timelineEventSource.js
lib/enums/timelineElementType.js
lib/enums/timelineEvents.js
lib/enums/timelineCursorType.js
lib/enums/timelineCapShape.js
lib/timelineRow.js
lib/timelineRanged.js
lib/timelineModel.js
lib/timelineKeyframe.js
lib/timelineEventsEmitter.js
lib/timeline.js
lib/settings/timelineConsts.js
lib/settings/defaults.js
lib/settings/timelineOptions.js
lib/settings/styles/timelineKeyframeStyle.js
lib/settings/styles/timelineRowStyle.js
lib/settings/styles/timelineStyle.js
