.app-container {
    background-color: #1e1e1e;
    scrollbar-color: gray #161616;
    color: #adadad;
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#timeline {
    box-sizing: border-box;
    flex-grow: 8;
    width: 100%;
    height: 100%;
    scrollbar-color: gray #161616;
}

::-webkit-scrollbar {
    background: #161616;
    color: gray;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

::-webkit-scrollbar-corner {
    background: #161616;
}

main {
    display: grid;
    /*grid-template-columns: ;*/
    height: 100%;
    width: 100%;
}


.button {
    padding: 0px;
    width: 44px;
    min-width: 44px;
    margin-right: 5px;
    color: #adadad;
    background: transparent;
    border: none;
}

.button:focus {
    outline: 0;
    border: none;
}

.button:hover {
    background: #201616;
}

.button:focus {
    border: none;
}

main {
    flex-grow: 4;
    height: 0px;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
}

footer {
    display: flex;
    height: 45%;
    max-height: 70%;
}

.toolbar {
    background-color: #383838;
    padding-left: 44px;
    max-height: 36px;
    height: 36px;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 36px;
    background-color: #3c3c3c;
}

.outline-header {
    height: 30px;
}

.outline-scroll-container {
    overflow: hidden;
}

.outline-node {
    padding-left: 20px;
    font-size: 12px !important;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    user-select: none;
    height: 30px;
}

.outline-node:hover {
    background-color: #3399ff
}

.links {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    align-items: center;
}

a {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    margin-right: 30px;
}

.logs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.output {
    height: 100%;
    width: 100%;
}

.outline {
    width: 250px;
    min-width: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    align-content: stretch;
}

.content {
    overflow: scroll;
}